.nav {
    grid-area: n;
    background-color: red;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.ActiveLink {
    color: gold
}
.friendsnavbarava {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    padding: 10px;
}
.itemfriends {
    padding-top: 20px;
}