.descriptionBlock {
    padding: 10px;
}

.profileinfoimg {
    width: 900px;
    height: 140px;
}

.profile {
    display: grid;
    grid-template-columns: 4fr 6fr;
    padding: 10px;
}
.status{
    padding:10px;
    font-weight: 500;
}
.mainfoto
{
max-width:400px;
}
.contacts
{
    padding-left:20px
}
.button
{
    padding:10px;

}
.formSummuryError {
    border: solid red 2px;
    padding:5px;
    color:red;
}
.statuscomment
{
    font-weight: 50;
    color:grey;
}